@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(210deg, 46%, 95%);
  border: 1px solid rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  font-family: "Manrope", sans-serif;
}

.drawer img {
  width: 400px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.details {
  position: relative;
  padding: 2rem;
  background-color: white;
  width: 500px;
  border-radius: 0 10px 10px 0;
}
.details h1 {
  color: hsl(214deg, 17%, 51%);
}
.details p {
  color: hsl(212deg, 23%, 69%);
  padding-top: 1rem;
  line-height: 1.5rem;
}
.details .author {
  display: flex;
  position: relative;
  margin-top: 1rem;
}
.details .author .author-image {
  padding: 1rem 0;
}
.details .author .author-image img {
  width: 50px;
  border-radius: 100%;
}
.details .author .author-details {
  margin-left: 1rem;
}
.details .author .author-details .name {
  font-weight: 700;
  color: hsl(214deg, 17%, 51%);
}
.details .author .author-details .date {
  padding: 0.3rem 0;
}
.details .author .share-icon {
  position: relative;
  left: 45%;
}
.details .author .share-icon i {
  display: block;
  font-size: 20px;
  margin-top: 65%;
  color: hsl(214deg, 17%, 51%);
  padding: 0.5rem;
  border-radius: 100%;
}
.details .author .share-icon i:hover {
  color: white;
  background-color: hsl(214deg, 17%, 51%);
}

.social-media {
  position: absolute;
  top: 45%;
  left: 62%;
  background: hsl(217deg, 19%, 35%);
  border-radius: 10px;
  width: 270px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
.social-media div {
  padding: 0.5rem;
}
.social-media .share {
  color: hsl(210deg, 46%, 95%);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
}
.social-media::before {
  content: "";
  position: absolute;
  top: 72%;
  left: 46%;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background-color: hsl(217deg, 19%, 35%);
}

.social-media.show {
  display: flex;
}

@media screen and (max-width: 950px) {
  main {
    flex-direction: column;
  }
  .drawer img {
    border-radius: 10px 10px 0px 0px;
  }
  .details {
    width: 400px;
    border-radius: 0px 0px 10px 10px;
  }
  .details .author .share-icon {
    left: 30%;
  }
  .details .author.show {
    visibility: hidden;
  }
  .details .author.show .share-icon {
    visibility: visible;
    z-index: 100;
  }
  .details .author.show .share-icon i {
    margin-top: 230%;
    color: white;
  }
  .social-media.show {
    display: flex;
    justify-content: flex-start;
    top: 78%;
    bottom: 0;
    left: 0%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
  .social-media.show div img {
    width: 25px;
  }
  .social-media.show .share {
    font-size: 18px;
    margin-left: 1.2rem;
  }
  .social-media.show::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */